@font-face {
  font-family: Determination-Mono;
  src: url("./files/DTM-Mono.otf");
}


@font-face {
  font-family: Determination-Sans;
  src: url("./files/DTM-Sans.otf");
}


@font-face {
  font-family: '8 Bit Operator';
  src: url('../src/files/8bitoperatorplus-regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-size: 150%;
}


@font-face {
  font-family: '8bitoperator JVE';
  src: url('./files/8bitoperator-JVE.woff') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-size: 280%;
}


@font-face {
  font-family: Deltarune;
  src: url("./files/Deltarune.ttf") format("truetype");
  ;
}


::selection {
  color: #ffff00;
  background: #333;
}


* {
  cursor: url("./files/Images/detemination\ soul.png"), default;
}

img {
  image-rendering: pixelated;
}

determinacion,
genocida {
  filter: brightness(0) saturate(100%) invert(18%) sepia(74%) saturate(5172%) hue-rotate(342deg) brightness(77%) contrast(117%);
}


pacifista,
integridad {
  filter: brightness(0) saturate(100%) invert(21%) sepia(55%) saturate(7254%) hue-rotate(220deg) brightness(102%) contrast(105%);
}


neutral,
justicia {
  filter: brightness(0) saturate(100%) invert(88%) sepia(70%) saturate(4038%) hue-rotate(4deg) brightness(108%) contrast(101%);


}


amabilidad {
  filter: brightness(0) saturate(100%) invert(66%) sepia(81%) saturate(2884%) hue-rotate(84deg) brightness(111%) contrast(118%);
}


perseverancia {
  filter: brightness(0) saturate(100%) invert(16%) sepia(99%) saturate(5728%) hue-rotate(283deg) brightness(104%) contrast(123%);
}


valentia {
  filter: brightness(0) saturate(100%) invert(83%) sepia(22%) saturate(7349%) hue-rotate(358deg) brightness(104%) contrast(104%);


}


paciencia {
  filter: brightness(0) saturate(100%) invert(74%) sepia(89%) saturate(2268%) hue-rotate(135deg) brightness(103%) contrast(104%);
}


h1 {
  font-size: 400%;
  max-width: 50%;
  min-width: min-content;
}


p,
h3,
.almas,
h2 {
  max-width: 75%;
  min-width: min-content;
}


h3,
.almas {
  font-size: 25px;
}


h2 {
  font-size: 200%;
}

a,
Link {
  color: inherit;
  text-decoration: none;
}

a:hover,
button:hover,
input:hover,
Link:hover,
.Especial_button:hover,
.button_text:hover,
.button-img:hover,
.button:hover {
  color: #ffff00 !important;
  cursor: url("./files/Images/detemination\ soul\ alert.png"), pointer;
}


p:hover,
h1:hover,
h2:hover,
h3:hover,
h4:hover,
h5:hover,
h6:hover,
determinacion,
genocida,
pacifista,
integridad,
neutral,
justicia,
amabilidad,
perseverancia {
  cursor: url("./files/Images/amability\ soul.png"), text;
}


.titulo {
  max-width: 75%;
  min-width: 25%;
}


body {
  position: relative;
  margin: 0;
  font-family: Determination-Mono;
  color: white;
  background-color: black;
}


nav {
  display: flex;
  justify-content: space-around
}


.Especial_button {


  padding: 2px;
  max-width: 55%;
  max-height: 5%;
  min-width: 1%;
  font-family: Determination-Sans;
  border: 5px solid transparent;
  border-color: rgb(255, 187, 0);
  color: rgb(255, 187, 0);
  background-color: black;
  text-decoration: none;
}


.button-img {
  filter: brightness(0) saturate(100%) invert(83%) sepia(22%) saturate(7349%) hue-rotate(358deg) brightness(104%) contrast(104%);
}


.icon_bg {
  filter: brightness(0) saturate(100%);
}


.button_text {
  transform: scale(150%, 350%) !important;
  position: relative;
  left: 17%;
  max-width: 20%;
}


.Especial_button:hover {
  border-color: rgb(255, 255, 0);
  color: rgb(255, 255, 0);
}


.Especial_button:hover .button-img {
  filter: blur();
}


.Especial_button:hover .icon_bg {
  filter: blur();
}


.button:hover {
  filter: brightness(0) saturate(100%) invert(88%) sepia(70%) saturate(4038%) hue-rotate(4deg) brightness(108%) contrast(101%);
}


.button {
  width: 5%;
  height: 5%;
}


footer {
  margin-top: 70px;
  color: #808080;
  font-family: '8 Bit Operator';
}


footer a {
  font-family: '8bitoperator JVE';
  font-size: x-large;
}

.multicolortext {
  background-image: linear-gradient(to left, violet, rgb(163, 84, 219),rgb(64, 171, 233), rgb(64, 64, 233), rgb(38, 146, 38), lightgreen, yellow, orange, red)!important;
  -webkit-background-clip: text !important;
  -moz-background-clip: text !important;
  background-clip: text !important;
  color: transparent ;
  width: 310px;
}

.tenor-gif-embed {
  position: relative;
  float: right;
  top: -1200px;
  max-width: 9%;
  height: 500px;
}

/*Css exclusivo de Deltarune*/


dr-background {
  background-image: url("../src/files/Images/DRbg.gif");
  background-size: 50% !important;
  background-position: right top;
  background-repeat: repeat;
  background-size: cover;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  z-index: -1;
}


#deltarune {
  cursor: url("./files/Images/cursorDrMain.png"), auto !important;
}


#deltarune section {
  background-color: black !important;
  margin-left: 10px;
  margin-right: 10px;
  display: inline-block;
  vertical-align: middle;
}


#deltarune section p {
  font-family: '8 Bit Operator';
  text-shadow: 2px 2px #0f0f71;
}


#deltarune li {
  font-family: '8bitoperator JVE';
  font-size: 250%;
}


#deltarune .title {
  margin: 5px;
  font-family: "8bitoperator JVE";
  color: #ffff00;
  font-weight: normal;
}


#deltarune img {
  image-rendering: pixelated;
}